<div class="container mt-4">
  <div class="comp">
    <label for="" class="form-label">Enter text</label>
    <input
      class="form-control"
      type="text"
      [(ngModel)]="name"
      (ngModelChange)="logName($event)"
    />
    <div class="mt-2">
      <p>{{ greeting }}</p>
      <p>
        <button class="btn btn-primary" (click)="changeGreeting()">
          Change Name
        </button>
      </p>
    </div>
  </div>
  <div class="comp">
    <b>Name: {{ name }}</b>
    <upper-case-component [name]="name"></upper-case-component>
  </div>
  <div class="comp">
    <counter-component [(counter)]="counter"></counter-component>
  </div>
  <div class="comp">
    <app-todos></app-todos>
  </div>
  <div class="comp">
    <app-heros ></app-heros>
  </div>
</div>
