<h2 class="mt-4">Todos</h2>
<form class="row mb-4 mt-2" (ngSubmit)="addTodo()">
  <div class="col-sm-6">
    <input
      type="text"
      name="todoText"
      id="todoText"
      class="form-control"
      [(ngModel)]="todoText"
    />
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Add Todo</button>
  </div>
</form>
<div *ngIf="todos.length === 0">There are no Todos</div>
<todo-list
  [todos]="todos"
  (deleteTodoItem)="deleteTodoItem($event)"
  (updateTodoItem)="updateTodo($event)"
></todo-list>
Shared Count {{counterSvc.count}}
<app-button text="Shared Increase" (btnClick)="counterSvc.increase()"></app-button>
<!-- <button class="btn btn-secondary" (click)="themeSvc.increase()">Shared Increase</button> -->
<br/>

<!-- <button class="btn btn-danger" (click)="themeSvc.toggleTheme()"></button> -->
