<li class="row mb-3">
  <div class="col-sm-4">
    <div *ngIf="!editMode">{{ todo.text }}</div>
    <div *ngIf="editMode">
      <input type="text" class="form-control" [(ngModel)]="editText" />
    </div>
  </div>

  <div class="col-auto">
    <button *ngIf="editMode" type="button" class="btn btn-secondary btn-sm" (click)="updateTodo(todo.id)">
      Update
    </button>
  </div>
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-primary btn-sm"
      (click)="toggleEditMode()"
    >
      {{ editMode ? "Cancel" : "Edit" }}
    </button>
  </div>
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-danger btn-sm"
      (click)="deleteTodo(todo.id)"
    >
      Delete
    </button>
  </div>
</li>
